body {
  background-color: black;
}
.container {
  background-color: rgb(0, 0, 0);
  border: solid 1px white;
  margin: 25px;
  text-align: center;
  min-height: 600px;
  color: white;
}

button {
  margin-top: 20px;
}

.content {
  padding-top: 20px;
}

.dueday {
  padding-top: 20px;
}
