h1 {
  position: relative;
  left: 180px;
}
h5 {
  position: relative;
  top: 50px;
  right: 18px;
}
.posts {
  position: relative;
  top: 100px;
  right: 150px;
}

.link {
  position: relative;
  top: 50px;
  color: rgb(115, 178, 237);
}
