{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New todo</title>
    <link rel="stylesheet" href="{% static 'new.css' %}" />
  </head>
  <body>
    <div class="container">
      <h2>할일을 적어주세요!</h2>
      <form action="" method="post">
        {% csrf_token %}
        <div>
          <div class="title">
            <div>title</div>
            <input type="text" name="title" />
          </div>
          <div class="content">
            <div>content</div>
            <textarea name="content" cols="30" rows="20"></textarea>
          </div>
          <div class="dueday">
            <div>due-day</div>
            <input type="date" name="dueday"></input>
          </div>
          <button type="submit">작성 완료</button>
        </div>
      </form>
    </div>
  </body>
</html>
