<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'info.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>SonYewon's Portfolio</h1>
    <a class="link" href="/project">you can see my project here♡</a>
    <div class="profile"><b>Profile</b></div>
    <div class="profile_content" style="line-height: 30px">
      name: son yewon<br />birth: 2002.03.18 <br />Korea University<br />Computer
      Science<br /><br />If you wanna see my projects,<br />
      please click the green letters!
    </div>
    <div class="container">
      <img
        src="https://postfiles.pstatic.net/MjAyMzAzMjhfNzUg/MDAxNjc5OTg2OTI0NTQ5.wzO7PxrPLSY2yjPUtk7Q5nnnor9RXkoj05qGGaiUHrgg.kRVyMwBNjLeCXALcnYHaggjnFLUEHX61Glpm6KJg4hYg.JPEG.ae6652/IMG_6916.JPG?type=w966"
      />
    </div>
    <div class="container2">
      <img
        src="https://postfiles.pstatic.net/MjAyMzAzMjhfMTgz/MDAxNjc5OTg2OTI0Mzcz.LpU6SOz_EsHIx1PdzDhffK6U08d8MXNBdpRaGVZUFgwg.eNQ9mXFjbP8i7fPXoDAwBGHAPnji3-_kiD6sowqzFcsg.JPEG.ae6652/IMG_6710.JPG?type=w966"
      />
    </div>
    <div class="container3">
      <img
        src="https://postfiles.pstatic.net/MjAyMzAzMjhfMjUz/MDAxNjc5OTg2OTI1Mzg2.2zvRFGjcGH_KzRRHwN2Gyct8QxdHx2pREVgm11Dh_rQg.0lIp3QM1bL-LqCA40fc1y5R4UHaSuvEcg1iv7dPPRx0g.JPEG.ae6652/IMG_0021.JPG?type=w966"
      />
    </div>
    <div class="container4">
      <img
        src="https://postfiles.pstatic.net/MjAyMzAzMjhfMTc2/MDAxNjc5OTg2OTI0NDcy.wPyvhqU17ByDDEoKUyx5rg6FFigBw28nNrSifcjQV4Ig.k59PAcqbr6AqBVC2bP8kLY4g22z0p1L3PA06poJXdjwg.JPEG.ae6652/output_1051750829.jpg?type=w966"
      />
    </div>
    <div class="container5">
      <img
        src="https://postfiles.pstatic.net/MjAyMzAzMjhfODUg/MDAxNjc5OTg2OTMxMTg4.1lixy6uH09ZpkuyyLcTXkGtzaCe2wh696QNElAcuU9Ig.X7iEDapeSrg_m0QeiutXQ1fQ8xH227nWR6M1KlWc5-Eg.JPEG.ae6652/IMG_6917.JPG?type=w966"
      />
    </div>
    <div class="window">
      <img
        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDA5MTJfMjU3%2FMDAxNTk5ODkzMzQ0Nzkx.rv6eOdPDUeZ8qTc4TJnnVrdP_NudrUh0LE9i-Aq5AaUg.wWTtbm81kdwbIoZ7f9S2TKZLT14CxYyoYOENgyjQ5Tgg.JPEG.psynsh1004%2F1599893343767.jpg&type=sc960_832"
        style="max-width: 15%; height: auto"
      />
    </div>
    <div class="keyboard">
      <img
        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxODA0MDVfNjAg%2FMDAxNTIyODg3MDI3NTgy.UWQgzb7Njh3H3As5BAlLjrlIewIBlKPX4L3A62ZBMicg.ryonWEw2u1ZfkGQE_SDpn1dN0geE0uL49_QFLIuJRqYg.GIF.kma9501%2FIMG_5626.GIF&type=sc960_832_gif"
        style="max-width: 40%; height: auto"
      />
    </div>
    <div class="phone">
      <img
        src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA4MDZfMjIx%2FMDAxNjI4MjExNzQ0NzY3.AGCRg9j0iCGvpMqfUw_P1u2VoRHD2l1NGd45RCT9ExEg.VXR67PnkHWIoDXbOIYIt1b0e79Pg2i-W8EwvAK-Ie3Ag.JPEG.acttosun08%2F%25A3%25A5EC%25A3%25A5B9%25A3%25A5B4%25A3%25A5ED%25A3%25A586%25A3%25A5A1%25A3%25A5ED%25A3%25A594%25A3%25A584%25A3%25A5EC%25A3%25A582%25A3%25A5AC%25A3%25DF%25A3%25A83%25A3%25A9.jpeg&type=sc960_832"
        style="max-width: 30%; height: auto"
      />
    </div>
  </body>
</html>
