<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Project Page</h1>
    <a class="link" href="/info">back to info page</a>
    <div class="toss">
      <img
        src="https://postfiles.pstatic.net/MjAyMzAzMjhfMjAz/MDAxNjc5OTkyNDQ5MzM2.teBpcrbwr_Y9LGBJW-unLYHDJCO_Q5Bcilbv0o9CUJQg.oqmZ9T8LAED42-CURLVB8WJIJlAt4jXFaBHJExl7amQg.JPEG.ae6652/IMG_6920.jpg?type=w966"
        style="max-width: 17%; height: auto"
      />
    </div>
  </body>
</html>
