{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'category.css' %}" />
{% endblock %}

{% block title_ %}
daily
{% endblock %}

{% block container %}
      <h2>Categorization</h2>
      <p>잡담</p>
      <ol>
        {% for d in daily_ %}
        <li>
          <a class="link" href="{% url 'detail' d.id %}">{{ d.title }}</a>
        </li>
        {% endfor %}
      </ol>
      <p class="content">
        <br /><br /><br /><br /><br /><a class="link" href="{% url 'list' %}"
          >Back to <b>List</b> Page</a
        >
      </p>
{% endblock %}
  </body>
</html>
