{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'detail.css' %}" />
{% endblock %}

{% block title_ %}
Detail 
{% endblock %}

{% block container %}
      <h2>Detail of the article</h2>
      <br />
      <p class="name">title :</p>
      <p class="content">{{ details.title }}</p>
      <p class="name">content :</p>
      <p class="content">{{ details.content }}</p>
      <br />
      <p class="name">category :</p>
      <p class="content">{{ details.category.name }}</p>
      <p class="name">time :</p>
      <p class="content">{{ details.time }}</p>
      <p class="content">
      <br/><br/>
      <form method="POST">
        {% csrf_token %}
      <div class = "comment_write">
        <input type="text" name="content" placeholder="댓글을 입력해주세요"/>
        <button type="submit">작성하기</button> 
      </div>
      </form>
      <p class="content">{{ details.comment.content }}</p>
      {% for comment in details.comments.all %}
      <div class="comments">
        <li>{{ comment.content }}
          <a href="{% url 'delete-comment' details.pk comment.pk %}">삭제</a>
          <form method="POST" action="{% url 'new_recomment' details.id comment.id %}">
            {% csrf_token %}
          <div class = "comment_write">
            <input type="text" name="re_comment" placeholder="대댓글을 입력해주세요"/>
            <button type="submit">작성하기</button> 
          </div>
          </form>
        </li>
      {% for recomment in comment.recomments.all %}
        <li>{{ recomment.re_content }}</li>
      {% endfor %}
      </div>
      {% endfor %}
      <br /><br /><br /><br />
      <div class="link">
        <a style="color: rgb(232, 231, 255)" href="{% url 'list' %}">Back to <b>List</b> Page</a><br/>
        <a style="color: rgb(232, 231, 255)" href="{% url 'edit' details.pk %}">수정하기</a><br/>
        <a style="color: rgb(232, 231, 255)" href="{% url 'delete' details.pk %}">삭제하기</a><br/>
      </div>
{% endblock %}
  </body>
</html>
