{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'list.css' %}">
{% endblock %}

{% block title %}
List
{% endblock %}

{% block container %}
      <ul><h2>글 전체 목록</h2></ul>
      <ul><p class="upper">글 전체 개수 : {{ cnt_all }}</p><p>전체 글 목록 ↓</p></ul>
      <ul>
        {% for article in articles %}
        <li><a class="link" href="{% url 'detail' article.id %}">{{ article.title }}</a></li>
        {% endfor %}
      </ul>
      <ul><p><a class="link" href="{% url 'new' %}">글 쓰러 가기</a></br></br></p></ul>
      <ul>
        <p class="upper">카테고리</p>
        <p><a class="link" href="{% url 'hobby' %}">취미</a> - 글 갯수: {{ cnt_hobby }} </p>
        <p><a class="link" href="{% url 'daily' %}">잡담</a> - 글 갯수: {{ cnt_daily }}</p>
        <p><a class="link" href="{% url 'programming' %}">프로그래밍</a> - 글 갯수: {{ cnt_programming }}</p>
      </ul>
      <img class ="keyborad" src="	https://upload3.inven.co.kr/upload/2023/01/04/bbs/i014059247453.gif"/>
{% endblock %}
  </body>
</html>
