{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'category.css' %}" />
{% endblock %}

{% block title %}
programming
{% endblock %}      
  
{% block container %}
  <h2>Categorization</h2>
      <p>프로그래밍</p>
      <ol>
        {% for p in program_ %}
        <li>
          <a class="link" href="{% url 'detail' p.id %}">{{ p.title }}</a>
        </li>
        {% endfor %}
      </ol>
      <p class="content">
        <br /><br /><br /><br /><br /><a class="link" href="{% url 'list' %}"
          >Back to <b>List</b> Page</a
        >
      </p>
{% endblock %}
  </body>
</html>
