.link {
  color: rgb(232, 231, 255);
  text-align: center;
}

body {
  background-color: rgb(179, 107, 107);
  color: white;
}

h2 {
  text-align: center;
}

p {
  color: rgb(235, 255, 205);
  text-align: center;
}

.name {
  font-size: 14px;
  color: white;
}

.content {
  font-size: 18px;
  margin: 20px;
}

.link {
  color: rgb(232, 231, 255);
  text-align: center;
}

.container {
  margin: 25px;
  width: 450px;
  height: 700px;
  border: solid white;
}
