{% extends 'app/base.html' %} {% block title %} Detail {% endblock %} {% block css%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/detail.css' %}" />
{% endblock %} {% block content %}
  <body>
    <div class="post">
      <div class="post_title">
        <h2>제목</h2>
        <p>{{ post.title }}</p>
      </div>
      <div class="post_content">
        <h2>내용</h2>
        <p>{{ post.content }}</p>
      </div>
      <div class="post_author">
        <p><b>작성자</b> : {{ post.author }}</p>
      </div>
    </div>
    <div >
      <a class="to_home" href="{%	url 'app:home'	%}">홈으로</a>
      <!--blog: 은 urls에서 지정한 app_name-->
      {% if user.is_authenticated and user.pk == post.author.pk %}
      <a class="to_update" href="{%	url 'app:update' post.pk %}">수정하기</a>
      <a class="to_delete" href="{%	url 'app:delete' post.pk %}">삭제하기</a> {% endif %}
      <!--urls에서 정한 name 사용-->
    </div>
      <div class="post_comment">
        <form action="" method="POST">
          {% csrf_token %}
          <input type="text" name="content" />
          <button type="'submit">댓글 작성</button>
        </form>
        {% for comment in post.comments.all %}
        <li>
          <span>{{ comment.author }} : {{ comment.content }}</span>
          {% if user.pk == comment.author.pk and user.is_authenticated %}
          <a href="{% url 'app:delete_comment' post.pk comment.pk %}">삭제</a>
          {% endif %}
        </li>
        {% endfor %}
      </div>
{% endblock %}
</html>
