<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/base.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <!--action = "" 비어있으면 현재경로(주소)로 post요청을 보내는 것을 가리킴. form태그와 submit은 세트-->
      {% csrf_token %}
      <div>
        <label for="title">제목</label>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="제목을 입력해주세요."
        /><!--input은 charfield에 대응-->
      </div>
      <div>
        <label for="content">내용</label>
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="10"
          placeholder="내용을 입력해주세요."
        ></textarea
        ><!--textarea는 textfield에 대응-->
      </div>
      <button type="submit">작성하기</button>
    </form>
    <a class="to_home" href="{%	url 'app:home'	%}">홈으로</a>
  </body>
</html>
