body {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 209, 216),
    rgb(192, 231, 255)
  );
  height: 730px;
}

.profile {
  position: relative;
  width: 250px;
  left: 630px;
  text-align: center;
  font-size: 40px;
  z-index: 0;
}

.profile_content {
  position: relative;
  top: 10px;
  left: 650px;
  width: 200px;
  text-align: center;
  z-index: 0;
}

.link {
  color: #66cf55;
}

.container {
  position: relative;
  bottom: 280px;
  left: 160px;
  width: 150px;
  height: 200px;
  padding: 50px;
  overflow: hidden;
  z-index: 1;
}

.container2 {
  position: relative;
  bottom: 300px;
  width: 150px;
  height: 200px;
  padding: 50px;
  overflow: hidden;
}
.container3 {
  position: relative;
  bottom: 600px;
  left: 1070px;
  width: 150px;
  height: 200px;
  padding: 50px;
  overflow: hidden;
}
.container4 {
  position: relative;
  bottom: 1150px;
  left: 1250px;
  width: 150px;
  height: 200px;
  padding: 50px;
  overflow: hidden;
  z-index: 2;
}
.container5 {
  position: relative;
  bottom: 1570px;
  left: 1020px;
  width: 150px;
  height: 200px;
  padding: 50px;
  overflow: hidden;
  z-index: 3;
}

.container > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container2 > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container3 > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container4 > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container5 > img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.window {
  position: relative;
  bottom: 1800px;
  right: 35px;
  padding: 50px;
  overflow: hidden;
  z-index: 4;
}

.keyboard {
  position: absolute;
  bottom: 80px;
  left: 240px;
  z-index: 3;
}

.phone {
  position: absolute;
  bottom: 240px;
  left: 980px;
  z-index: 3;
}
